<div class="hero">
  <div class="black"><h4>It don't mean a thing</h4></div><br>
  <div class="purple"><h2>If it ain't got that swing.</h2></div>
</div>

<br />
<div class="container-features">
  <div class="row features text-center col-12">
    <div class="feature col-12 col-sm">
      <h3>Feature 1</h3>
    </div>

    <div class="feature col-12 col-sm">
      <h3>Feature 2</h3>
    </div>

    <div class="feature col-12 col-sm">
      <h3>Feature 3</h3>
    </div>
  </div>

  <div class="row features text-center col-12">
    <div class="feature col-12 col-sm">
      <h3>Feature 1</h3>
    </div>

    <div class="feature col-12 col-sm">
      <h3>Feature 2</h3>
    </div>

    <div class="feature col-12 col-sm">
      <h3>Feature 3</h3>
    </div>
  </div>
</div>
