// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@media only screen and (max-width: 413px) {
  .hero img { width: 100% !important; height: auto !important; }
}

body { font-family: "Helvetica Neue", Helvetica; font-weight: 100; }

// Resets white space underneath navbar
h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;
}

.hero {
  background: image_url('hero.png') no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 500px;
  padding: 250px 50px 0;
  box-shadow: 0px 3px 8px #2a2a2a;
}

.black { background: #000; color: #fff; display: inline-block; padding: 10px 20px; }
.purple { background: purple; color: #fff; display: inline-block; padding: 10px 20px; }

.black h4, .purple h2 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}
